# Fundamentals of Data Analysis Tasks


Sofiia Meteliuk 
***

In [15]:
def collatz(x):
    seq=[x]
    #print(f'testing collatz with initial value {x}')
    while x != 1:
        if x %2 ==0:
            x= x//2
        else:
            x= (3*x)+1
        seq.append(x)
    return seq

In [49]:
def proof_of_collatz():
    for i in range(1, 10001, 1):
        answer = collatz(i)[-1]
        #print(f' collatz conjecture : {collatz(i)}')
        if answer != 1:
            print(f' Collatz Conjecture False for {i}')
            break
    return print(f' Collatz conjecture is true for the first 10,000 positive integers')

In [50]:
proof_of_collatz()

 Collatz conjecture is true for the first 10,000 positive integers

## Task 2

Give an overview of the famous penguins data set, explaining
the types of variables it contains. Suggest the types of variables
that should be used to model them in Python, explaining your
rationale

Data repository for seaborn examples. https://github.com/mwaskom/seaborn-data/blob/master/penguins.csv

In [51]:
import pandas as pd

In [54]:
penguins = pd.read_csv('penguins.csv', index_col = 0)
penguins.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

In [55]:
penguins.head(10)

,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
species,,,,,,
Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
Adelie,Torgersen,38.9,17.8,181.0,3625.0,FEMALE
Adelie,Torgersen,39.2,19.6,195.0,4675.0,MALE
Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN

In [56]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
Index: 344 entries, Adelie to Gentoo
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   island             344 non-null    object
 1   bill_length_mm     342 non-null    float64
 2   bill_depth_mm      342 non-null    float64
 3   flipper_length_mm  342 non-null    float64
 4   body_mass_g        342 non-null    float64
 5   sex                333 non-null    object
dtypes: float64(4), object(2)
memory usage: 18.8+ KB

In [58]:
penguins.nunique()

island                 3
bill_length_mm       164
bill_depth_mm         80
flipper_length_mm     55
body_mass_g           94
sex                    2
dtype: int64

sex - categorical ( in python string)
body_mass_g = numerical (in python float)
flipper_lenght_mm =numerical (in python float)
bill_depth_mm -numerical (in python float)
bill_lenght_mm - numerical (in python float)
island = categorical ( in python string)
species = categorical ( in python string)